<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insta Clone - Final</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <!-- Flowbite CSS -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite/dist/flowbite.min.css" rel="stylesheet" />
    <link href="/static/styles.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base2.css' %}">

  </head>
  <body class="{% if not user.is_authenticated %}bg-dark text-light{% endif %}">
    {% if user.is_authenticated %}
      <!-- sidebar start -->
      <div class="sidebar">
        <a href="{% url 'home' %}">
        <img src="{% static 'img/logo3.png' %}" alt="Logo" class="sidebar-logo" />
        </a>

        <div class="sidebarOption{% if request.resolver_match.url_name == 'home' %} active{% endif %}">
          <a href="{% url 'home' %}" class="sidebarOption__link">
              <span class="material-icons">home</span>
              <h2>Home</h2>
          </a>
        </div>

        <div class="sidebarOption{% if request.resolver_match.url_name == 'search_profiles' %} active{% endif %}">
          <a href="{% url 'search_profiles' %}" class="sidebarOption__link">
            <span class="material-icons">search</span>
            <h2>Search</h2>
          </a>
        </div>        

        <div class="sidebarOption{% if request.resolver_match.url_name == 'follow_list' %} active{% endif %}">
          <a href="{% url 'follow_list' username=user.username %}" class="sidebarOption__link">
              <span class="material-icons">group</span>
              <h2>Following</h2>
          </a>
        </div>

        <div class="sidebarOption{% if request.resolver_match.url_name == 'user_profile' %} active{% endif %}">
          <a href="{% url 'user_profile' request.user.username %}" class="sidebarOption__link">
              <span class="material-icons">account_circle</span>
              <h2>Profile</h2>
          </a>
        </div>

        <button class="sidebar__tweet" onclick="location.href='{% url 'upload_photo' %}';">Post</button>

        <div class="footer-dropdown">
          <div class="flex justify-center px-4 pt-4">
            <button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-800 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg text-sm p-1.5" type="button">
              <span class="sr-only">Open dropdown</span>
              <!-- Bars icon SVG -->
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                <path d="M0 3h20v2H0zM0 9h20v2H0zM0 15h20v2H0z"></path>
              </svg>
            </button>
            <!-- Dropdown menu with white border -->
            <div id="dropdown" class="z-10 hidden text-base list-none bg-white border border-gray-200 divide-y divide-gray-200 rounded-lg shadow w-44">
              <ul class="py-2" aria-labelledby="dropdownButton">
                <li>
                  <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Log Out</a>
                </li>
                <li>
                  <a href="{% url 'edit_profile' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Edit Profile</a>
                </li>
              </ul>
            </div>
          </div>

          
        </div>
        <!--footer ends-->
      </div>
      <!-- sidebar end -->

      <!-- feed start -->
      <div class="feed">

        <!-- Stories start -->   
        <div class="stories-container-wrapper" style="position: relative;"> 
          {% if request.resolver_match.url_name == 'home' %}
              <button class="scroll-left"><</button>
          {% endif %}
          <div class="stories-container">
              {% for user in unique_users %}
                  <div class="story">
                      <a href="{% url 'user_profile' username=user.username %}">
                          {% if user.userprofile.profile_picture %}
                              <img src="{{ user.userprofile.profile_picture.url }}" alt="{{ user.username }}" class="stories-img"/>
                          {% else %}
                              <img src="{% static 'img/ProfileFF.jpg' %}" alt="Default Profile" class="stories-img">
                          {% endif %}
                      </a>
                  </div>
              {% endfor %}
          </div>
          {% if request.resolver_match.url_name == 'home' %}
              <button class="scroll-right">></button>
          {% endif %}
        </div>
        <!-- Stories end -->   
    
        
        <!-- post avatar start-->
        {% for photo in photos %}
          <!-- post avatar start-->
          <div class="post__avatar">
            <!-- Wrap the image and the username in an anchor tag -->
            <a href="{% url 'user_profile' username=photo.user.username %}">
              <!-- Use the user's profile picture if it exists, otherwise use a default image -->
              {% if photo.user.userprofile.profile_picture %}
                <img src="{{ photo.user.userprofile.profile_picture.url }}" alt="{{ photo.user.username }}" />
              {% else %}
                <img src="{% static 'img/ProfileFF.jpg' %}" alt="Default Profile" class="stories-img">
              {% endif %}
            </a>
          </div>
          <!-- post avatar end-->

          <!-- post starts -->
          <div class="post">
            <div class="post__body">
              <div class="post__headerText">
                <h3>
                  <a href="{% url 'user_profile' username=photo.user.username %}">
                    {{ photo.user.username }}
                      <span class="post__headerSpecial">
                        <span class="material-icons post__badge">verified</span>
                      </span>
                  </a>
                </h3>
              </div>                 
              <!-- Display the photo image -->
              {% if photo.image %}
                <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" />
              {% elif photo.video %}
              <video controls class="post-media">
                  <source src="{{ photo.video.url }}" type="video/mp4">
                  Your browser does not support the video tag.
              </video>
              {% endif %}
                  
              <!-- Post Footer start -->
              <div class="post__footer">
                <div class="post__footer2">
                  <button id="like-button-{{ photo.id }}" onclick="likeUnlikePost({{ photo.id }})"><span class="material-icons">favorite_border</span></button>
                  <a href="{% url 'photo_detail' photo_id=photo.id %}">
                    <span class="material-icons">chat_bubble_outline</span>
                  </a>   
                </div>
                <div class="post__footerIcons">  
                  <span id="likes-count-{{ photo.id }}"> {{ photo.likes.count }} likes</span> 
                </div>

                <!-- Post like and comment end  -->

                <!-- post caption start -->
                <div class="post__footerCaptionsContainer">
                  <p class="post__footerCaptionUser">
                    <a href="{% url 'user_profile' username=photo.user.username %}">
                      {{ photo.user.username }}
                    </a>
                  </p>
                  <p class="post__footerCaptionText">
                    {{ photo.caption }}
                  </p> 
                </div>
                
                <p class="post__footerCaptionb">
                  {% if photo.comment_count > 1 %}
                  <a href="{% url 'photo_detail' photo_id=photo.id %}">
                    View all {{ photo.comment_count }} comments
                  </a>
                  {% elif photo.comment_count == 1 %}
                  <a href="{% url 'photo_detail' photo_id=photo.id %}">
                    View {{ photo.comment_count }} comment
                  </a>
                  {% endif %}
                </p>
                <p class="post__footerCaptionb">
                  <a href="{% url 'photo_detail' photo_id=photo.id %}">
                    Add a comment...
                  </a>
                </p>
              </div> 
              <!-- Post footer ends --> 
            </div>
            <!-- Post body ends -->
          </div>
          <!-- post  ends -->
        
        {% empty %}
        {% endfor %}
      <!-- feed ends -->   
    {% endif %}



    <!-- Main Content -->
    <main class="{% if user.is_authenticated %}main-content{% else %}container{% endif %}">
        {% block content %}
        <!-- Content for both authenticated and non-authenticated users will go here -->
        {% endblock %}
    </main>
   <!-- footer for small screens -->   
    {% if user.is_authenticated %}
    
    <div class="md:hidden">
      <footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
        <!-- Sidebar links for smaller screens -->
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
            <a href="{% url 'home' %}" class="hover:underline me-4 md:me-6">
              <span class="material-icons">home</span>
            </a>
          </li>
          <li>
            <a href="{% url 'search_profiles' %}" class="hover:underline me-4 md:me-6">
              <span class="material-icons">search</span>
            </a>
          </li>
          <li>
            <a href="{% url 'follow_list' username=user.username %}" class="hover:underline me-4 md:me-6">
              <span class="material-icons">group</span>
            </a>
          </li>
          <li>
            <a href="{% url 'user_profile' request.user.username %}" class="hover:underline me-4 md:me-6">
              <span class="material-icons">account_circle</span>
            </a>
          </li>
          <li>
            <a href="{% url 'upload_photo' %}" class="hover:underline me-4 md:me-6">
              <span class="material-icons">cloud_upload</span>
            </a>
          </li>
        </ul>                
      </footer>
    </div>
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite/dist/flowbite.min.js"></script>
    <script src="{% static 'script.js' %}"></script>


    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
          var searchButton = document.getElementById('search-button-id'); 
          if (searchButton) {
            searchButton.addEventListener('click', function() {
              // search button click handling logic
            });
          }
        });
        
    </script>

    <script>
      document.querySelector('.scroll-left').addEventListener('click', function() {
        const container = document.querySelector('.stories-container');
        container.scrollLeft -= 200; 
      });
      
      document.querySelector('.scroll-right').addEventListener('click', function() {
        const container = document.querySelector('.stories-container');
        container.scrollLeft += 200; 
      });
    </script>

  </body>
</html>