{% extends 'base2.html' %}

{% load static %}
{% block content %}
{% if user.is_authenticated %}

    <div class="container">
        <p class="text-lg font-medium text-gray-900 dark:text-white">Edit Profile</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="mb-6">
                {% if request.user.userprofile.profile_picture %}
                    <img src="{{ request.user.userprofile.profile_picture.url }}" alt="{{ request.user.username }}" class="rounded-full w-36 h-36" />
                {% else %}
                    <img src="{% static 'img/ProfileFF.jpg' %}" alt="Default Profile" class="rounded-full w-36 h-36" />
                {% endif %}
            </div>

            <!-- Loop through each field in the form -->
            {% for field in form %}
                <div class="mb-6">
                    <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                    <!-- Add Flowbite classes to each form field -->
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" value="{{ field.value }}" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                    <!-- Display errors for each field -->
                    {% for error in field.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
{% else %}
    <p>
        If you have an account, <a href="{% url 'login' %}">Log In</a>.<br>
        If you don't have an account, <a href="{% url 'signup' %}">Sign Up</a>.
    </p>
{% endif %}
{% endblock %}
