{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}


<main>
    <section class="photo-feed">
        {% for photo in photos %}
        <div class="photo">
            <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" width="50%">
            <p>Caption: {{ photo.caption }}</p>
            <p>Uploaded by: <a href="{% url 'user_profile' username=photo.user.username %}"> {{ photo.user.username}}
                </a></p>
        </div>
        {% endfor %}

    </section>
</main>

{% endblock %}