{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}

{% if user.is_authenticated %}
<main>
    <section class="photo-feed">
        {% for photo in photos %}
        <div style="padding-top: 1%;">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">
                    <a href="{% url 'user_profile' username=photo.user.username %}" style="color: white;">
                        {{photo.user.username}}
                    </a>
                </li>
                <li class="list-group-item"><img src="{{ photo.image.url }}" alt="{{ photo.caption }}" width="50%"></li>
                <li class="list-group-item">
                    <!-- {% if request.user in photo.likes.all %}
                    <a href="{% url 'unlike_photo' photo_id=photo.id %} " class="btn btn-dark">
                        Unlike
                    </a>
                    {% else %}
                    <a href="{% url 'like_photo' photo_id=photo.id %} " class="btn btn-dark">
                        Like!
                    </a>
                    {% endif %} -->
                    <p>{{ photo.likes.count }} Like(s)</p>
                </li>
                <li class="list-group-item">{{ photo.caption }}</li>
                <li class="list-group-item">
                    <a href="{% url 'photo_detail' photo_id=photo.id %}" class="btn btn-dark">
                        Comment
                    </a>
                    <a href="{% url 'like_photo_homepage' photo_id=photo.id %}" style="margin-left: 10px;">Like</a>
                </li>
            </ul>
        </div>

        <!-- <div class="photo">
            <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" width="50%">
            <p>Caption: {{ photo.caption }}</p>
            <p>Uploaded by: <a href="{% url 'user_profile' username=photo.user.username %}"> {{ photo.user.username}}
                </a></p>
        </div> -->
        {% endfor %}

    </section>
</main>
{% else %}
<p>
    If you have an account, <a href="{% url 'login' %}">Log In</a>.<br>
    If you don't have an account, <a href="{% url 'signup' %}">Sign Up</a>.
</p>

{% endif %}

{% endblock %}