{% extends 'base2.html' %}

{% block title %} Photo Details{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<main>
    <section class="photo-detail">
        <div class="photo">
            {% if photo.image %}
                <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" />
              {% elif photo.video %}
              <video controls class="post-media">
                  <source src="{{ photo.video.url }}" type="video/mp4">
                  Your browser does not support the video tag.
              </video>
              {% endif %}
            <p>{{ photo.caption }}</p>
            <p>Likes: {{ photo.likes.count }}</p>
            {% if request.user in photo.likes.all %}
            <a href="{% url 'unlike_photo' photo_id=photo.id %} " class="btn btn-dark">
                Unlike
            </a>
            {% else %}
            <a href="{% url 'like_photo' photo_id=photo.id %} " class="btn btn-dark">
                Like!
            </a>
            {% endif %}
            <!-- Add like and comment buttons -->
        </div>
        <section class="comments">
            {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.user.username }}: {{ comment.text }}</p>
            </div>
            {% endfor %}
        </section>

        <section class="comment-form">
            <h2>Add a Comment</h2>
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </section>
    </section>
</main>
{% else %}
<p>
    If you have an account, <a href="{% url 'login' %}">Log In</a>.<br>
    If you don't have an account, <a href="{% url 'signup' %}">Sign Up</a>.
</p>

{% endif %}
{% endblock %}