<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Delete Photo</title>
</head>

<body>
    {% if user.is_authenticated %}
    <h1>Delete Photo</h1>

    <p>Are you sure you want to delete this photo?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

    <a href="{% url 'photo_list' %}">Cancel</a>
    {% else %}
    <p>
        If you have an account, <a href="{% url 'login' %}">Log In</a>.<br>
        If you don't have an account, <a href="{% url 'signup' %}">Sign Up</a>.
    </p>

    {% endif %}

</body>

</html>