{% extends 'base.html' %}

{% block title %} Photo Details{% endblock %}

{% block content %}
<main>
    <section class="photo-detail">
        <div class="photo">
            <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" width="50%">
            <p>{{ photo.caption }}</p>
            <p>Likes: {{ photo.likes.count }}</p>
            {% if request.user in photo.likes.all %}
            <a href="{% url 'unlike_photo' photo_id=photo.id %} " class="btn btn-dark">
                Unlike
            </a>
            {% else %}
            <a href="{% url 'like_photo' photo_id=photo.id %} " class="btn btn-dark">
                Like!
            </a>
            {% endif %}
            <!-- Add like and comment buttons -->
        </div>
        <section class="comments">
            {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.user.username }}: {{ comment.text }}</p>
            </div>
            {% endfor %}
        </section>

        <section class="comment-form">
            <h2>Add a Comment</h2>
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </section>
    </section>
</main>

{% endblock %}