{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<h1>Search Results for "{{ query }}"</h1>

{% if results %}
<ul class="list-group">
    {% for user in results %}
    <li class="list-group-item list-group-item-dark"><a href="{% url 'user_profile' user.username %}">
            {{ user.username}}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No results found.</p>
{% endif %}
{% else %}
<p>
    If you have an account, <a href="{% url 'login' %}">Log In</a>.<br>
    If you don't have an account, <a href="{% url 'signup' %}">Sign Up</a>.
</p>

{% endif %}
{% endblock %}