{% extends 'base2.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<main>
    <section class="upload-form">
        <h1>Upload a Photo</h1>
        <form method="post" enctype="multipart/form-data" class="w-full max-w-lg">
            {% csrf_token %}

            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <!-- SVG Path -->
                    </svg>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG, GIF or MP4 (MAX. 800x400px)</p>
                </div>
                <input id="dropzone-file" type="file" name="image" class="hidden" accept="image/*,video/*" />
                <input id="dropzone-file" type="file" name="photo" class="hidden" accept="video/*,image/*" />
            </label>

            <!-- Caption Field -->
            <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                    {{ form.caption }}
                    {% for error in form.caption.errors %}
                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                    <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
                        <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                            Post 
                        </button>
                    </div>
                </div>
            </div>

            <!-- Submit Button 
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
            -->
        </form>
    </section>
</main>
{% else %}
<p>
    If you have an account, <a href="{% url 'login' %}">Log In</a>.<br>
    If you don't have an account, <a href="{% url 'signup' %}">Sign Up</a>.
</p>
{% endif %}

{% endblock %}
