{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<main>
    <section class="upload-form">
        <h1>Upload a Photo</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </section>
</main>
{% else %}
<p>
    If you have an account, <a href="{% url 'login' %}">Log In</a>.<br>
    If you don't have an account, <a href="{% url 'signup' %}">Sign Up</a>.
</p>

{% endif %}


{% endblock %}