{% extends 'base.html' %}
{% block content %}
<h1>User Profile</h1>
<p>Username: {{ user_profile.user.username }}</p>
<p>Email: {{ user_profile.user.email }}</p>
<p>Bio: {{ user_profile.bio }}</p>
{% if user_profile.profile_picture %}
<img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
{% else %}
<p>No profile picture available</p>
{% endif %}

<h2>Photos by {{ user_profile.user.username }}</h2>
<ul>
    {% for photo in user_photos %}
    <li>
        <img src="{{ photo.image.url }}" alt="{{ photo.caption }}">
    </li>
    {% endfor %}
</ul>
{% endblock %}