* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --instagram-color: #bb55a9;
  --instagram-background: #e6ecf0;
  --sidebar-background: #b4b4b4;
  --icon-colors: #000000;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding-left: -30px;
  margin-left: -65px;
  width: 200px;
}


.sidebarOption .material-icons,
.fa-instagram {
  padding: 20px;
}

.sidebarOption h2 {
  font-weight: 450;
  font-size: 16px;
  margin-right: 20px;
  align-items: center;
}

.sidebarOption:hover {
  background-color: var(--instagram-background);
  border-radius: 30px;
  color: var(--instagram-color);
  transition: color 100ms ease-out;
}

.sidebarOption.active {
  color: var(--instagram-color);
  font-weight: 800;
}

.sidebarOption__link {
  display: flex; /* or block, depending on your layout */
  align-items: center;
  width: 100%; /* take full width of the parent */
  text-decoration: none; /* remove underline from all states */
  color: inherit; /* to maintain text color */
}

.sidebarOption__link:hover {
  background-color: var(--instagram-background); /*hover color*/
  border-radius: 30px;
  color: var(--instagram-color);
  transition: color 100ms ease-out;
}

.sidebar__tweet {
  width: 50%;
  background-color: black;
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
  margin-left: 1px;
}

body {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.sidebar {
  border-right: 1px solid var(--instagram-background);
  flex: 0.2;

  min-width: 250px;
  margin-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-left: 0;
  margin-right: 80px;
}

.sidebar-logo {
  height: 80px; /* Adjust the size as needed */
  width: auto; /* Maintain aspect ratio */
  padding: 20px;
  
  display: flex;
  align-items: flex-start;
  padding-left: -150px;
  margin-left: -20px;
  
}

.fa-instagram {
  color: var(--instagram-color);
  font-size: 30px;
  align-items: center;
}

/* feed */
.feed {
  flex: 0.5;
  border-right: 1px solid var(--instagram-background);
  min-width: 700px;
  overflow-y: scroll;
  max-width: 300px;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 0px solid var(--instagram-background);
  padding-bottom: 16px;
}

.feed__header h2 {
  font-size: 20px;
  font-weight: 800;
}
.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/*stories*/
.story {
  display: inline-block;
  width: 80px; /* Example width, adjust as needed */
  height: 80px; /* Example height, adjust as needed */
  border-radius: 50%; /* Make it round */
  margin-right: -15px; /* Space between stories */
  padding-top: 14px;
  min-width: 80px;
}

.stories-img{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 1px;
  margin-right: 20px;

  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #6f18bc 100%);
  /* Create the circular shape with the image in the center */
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
}

.stories-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-right: 50px;
  margin-left: 15px;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
  
  /*scrollbar-width: none; /* for Firefox */
  /*-ms-overflow-style: none; /* for Internet Explorer and Edge */
  
}

.stories-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Additional styles for the story navigation buttons */
.scroll-left, .scroll-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(226, 159, 245, 0.881); /* Example color, change as needed */
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  width: 25px; /* Adjust size as needed */
  height: 25px; /* Adjust size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.scroll-left {
  left: 1px; /* Adjust position as needed */
}

.scroll-right {
  right: 40px; /* Adjust position as needed */
}

/* post */
.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 0px solid var(--instagram-background);
  padding-bottom: 10px;
  margin-left: 70px;
}

.post__avatar {
  padding: 7px;
  margin-top: 10px;
  margin-bottom: -42px;
  margin-left: 75px;
}

.post__avatar img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 1px;
  margin-right: 20px;

  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  /* Create the circular shape with the image in the center */
  box-shadow: 0 0 0 2px white;
}

.post__badge {
  font-size: 14px !important;
  color: var(--instagram-color);
  margin-right: 5px;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__headerText h3 {
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 48px;
  font-weight: 500;
  color: var(--icon-colors);
}

.post__body {
  flex: 1;
  padding: 10px;
  
}

.post__body img {
  width: 450px;
  height: auto; /* maintain the aspect ratio of the image */
  max-height: 600px;
  object-fit: contain;
  border-radius: 0px;
  margin-top: 10px;
  border: 2px solid rgb(211, 211, 211);
  background-color: #2a2a2a;
}

.post-media {
  width: 450px;
  height: auto; /* maintain the aspect ratio */
  max-height: 600px;
  object-fit: contain;
  border-radius: 0px;
  margin-top: 10px;
  border: 2px solid rgba(119, 119, 119, 0);
  background-color: #282828;
}

video.post-media {
    display: block; /* Ensures that the video is displayed as a block-level element */
}


.post__footer {
  display: flex;
  flex-direction: column; /* Stack the icons and caption on top of each other */
  align-items: flex-start; /* Align children (icons and caption) to the start of the cross axis */
  margin-top: 10px;
  padding-bottom: 10px;
}
.post__footer2 {
  display: flex;
   /* Stack the icons and caption on top of each other */
  align-items: flex-start; /* Align children (icons and caption) to the start of the cross axis */
  margin-top: 10px;
  padding-bottom: 10px;
}
.post__footerIcons {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Space between icons and caption */
  margin-top: 0px;  
  font-size: 13px;
  font-weight: 600;
}
.likes-count {
  margin-top: -15px; /* Adjust the value as needed to bring it closer */
  font-weight: bold;
  font-size: 10px;
 
}

.post__footer2 .material-icons {
margin-right: 20px; /* Space between icons */

}

.post__footerCaption {
  margin-left: 2px; /* Space before the caption if you need it */
  font-weight: 800;
  font-size: 14px;
 
}
.post__footerCaption2 {
  margin-left: 2px; /* Space before the caption if you need it */
}

.post__footerCaptionsContainer {
  display: flex; /* Align children horizontally */
  align-items: center; /* Center them vertically */
  gap: 10px; /* Add some space between the username and the caption */
  margin-top: -14px;
  font-size: 14px;
}

.post__footerCaptionText {
  font-weight: 400; /* Remove margin for these specific elements */
  font-size: 14px;
}

.post__footerCaptionUser,
.post__footerCaptionText {
  margin: 0; /* Remove margin for these specific elements */
}
.post__footerCaption,
.post__footerCaption2 {
margin: 0; /* Remove margin if you want them to be closer */
}
.post__footerCaptionUser {
  font-weight: 500; /* Make the username bold */
  
}

.post__footerCaptionb {
  margin-left: 2px; /* Space before the caption if you need it */
  margin-top: 9px;
  font-weight: 300;
  font-size: 13px;
}



/* extra */

.main-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, auto));
  gap: 11;

}
.poat-box{
  width: 300;
}

.post-box img{
  width: 100%;
  height: 344px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.post-info{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.post-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 2px solid #e2336b;
}
.post-img img{
  width:  27px;
  height: 27px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}
.post-profile{
  display: flex;
  align-items: center;
}

.footer-dropdown {
  margin-top: 200px;
  margin-left: -125px;
}

#dropdown {
  position: absolute;
  bottom: 100%; /* Position above the button */
  left: 50%;
  transform: translateX(-50%);
}
.save-changes-btn {
  
  margin-bottom: 20px; 
}

/* Style the container holding the buttons */
.button-container {
  margin-bottom: 10px; 
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .feed {
    width: 100%; /* Adjust other elements to take full width */
  }
  .footer-link {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
}


/* Loading state (e.g., spinner icon or opacity change) */
.loading {
  opacity: 0.5;
  pointer-events: none;
  outline: none;
}

/* Liked state */
.liked {
  color: red; /* Change color to indicate 'liked' state */
  outline: none;
}

#like-button:focus {
  outline: none; /* Remove outline on focus */
}

/* Optional: Remove outline when the button is active/pressed */
#like-button:active {
  outline: none; /* Remove outline on active state */
}

.username-edit-button {
  display: flex;
  align-items: center; /* Vertically center the items */
  padding: 10px;
  /* You can add more styling here if needed */
}
.username-edit-button h1 {
  margin-right: 10px; /* Add right margin to the username */
}
.followers_count1{
  margin-left: 10px;
}

.followers_count2{
  margin-left: 10px;
  margin-top: 10px;
}
.table-container {
  width: 40%; /* Set the width to half of its parent */
  /*margin: 0 auto;  Center the table container */
  margin-left: 0; /* Align to the left */
  margin-right: auto; /* Keep the right margin automatic */
  margin-top: 20px;
}

.follow_table {
  display: flex;
  align-items: center; /* Vertically center the items */
}

.follow_h2{
  margin-top: 10px;
}
.follow_h3{
  align-items: center;
}


