{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'homepage/styles.css' %}">
<title>Home - PixlPix</title>
</head>
<body>
<header>
<h1>PixlPix</h1>
</header>
<nav>
<ul>
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'profile' %}">Profile</a></li>
</ul>
</nav>
<main>
    {% for image in images %}
    <div>
        <img src="{{ image.image.url }}" alt="Uploaded Image">
        <a href="{% url 'delete_image' image.id %}">Delete</a>
    </div>
    {% endfor %}
</main>
</body>
</html>
