<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" href="{% static 'homepage/styles.css' %}">
<title>PixlPix</title>
</head>
<body>
<header>
<nav>
<ul>
<li><a href="#home">Home</a></li>
</ul>
</nav>
<h1>PixlPix</h1>
</header>
<main>
<section id="profile">
<h2>Profile</h2>
<!-- Upload form -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Upload</button>
</form>
</section>

<!-- Section to display uploaded images -->
<section id="uploaded-images">
{% for image in images %}
    <img src="{{ image.image.url }}" alt="Uploaded Image">
{% endfor %}
</section>
</main>
</body>
</html>
