{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'homepage/styles.css' %}">
<title>Profile - PixlPix</title>
</head>
<body>
<header>
<h1>PixlPix</h1>
</header>
<main>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Upload</button>
</form>
<nav>
<ul>
<li><a href="{% url 'home' %}">Home</a></li>
</ul>
</nav>
</main>
</body>
</html>
